body{
    margin:0;
    padding: 0;
    font-size: 20px;
    font-family: 'fira code';
    box-sizing: border-box;
    background-color: #fcf9ec;
}

.container{
    border: 2px solid white;
    height: auto;
    max-width: 30%;
    margin: 5% auto;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px white;
    padding: 20px ;
    background-color: #12d3cf;
}

.todo-input-container{
    padding: 10px;
    width: 95%;
    height:auto;
    /* margin-left: 5%; */
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: #b0f4e6;
    box-shadow: 0 0 2px 2px white;
}

.todo-input-container .icon{
    padding: 0.5rem;
    align-items: center;
    color: #272c2c;
    font-size: 1.5rem;
}

.todo-input-container .todo-input{ 
    border: 0px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    background-color: #b0f4e6;
    outline: none;
    font-size: 1rem;
}

.todo-info-container{
    display:flex;
    /* margin-left: 10%; */
    padding:1rem 0 1rem 0;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.complete-all{
    font-size: 0.8rem;
    color: white;
    flex-grow: 1;
}

.clear-completed{
    font-size:0.8rem;
    color: white;
}

.list-container{
    height: auto;
    border-bottom: 1px solid white;
}

.todos{
    list-style: none;
    margin: 0;
    padding: 15px;
}

.todos li{
    margin: 10px 0 10px 0;
}

.todos .list-item{
    display: flex;
    padding: 5px 5px;
    justify-content: space-around;
    align-items: center;
}

.todos .li-text{
    flex-grow: 1;
}

.todos .delete{
    display: none;
}

li:hover .delete{
    display: block;
}
.mr-10px{
    margin-right: 10px;
}